<div class="modal fade show" style="display:block;" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title">🛒 Продуктът е добавен</h5></div>
            <div class="modal-body"><p>Как желаете да продължите?</p></div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" onclick="location.reload()">Продължи пазаруването</button>
                <a asp-controller="Cart" asp-action="Index" class="btn btn-accent">Отиди в количката</a>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>
