@page
@model ShoeAholic.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Вход";
}

<div class="login-bg">
    <div class="login-card">

        <h1 class="text-center">Вход</h1>
        <hr />

        <form method="post" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Имейл -->
            <div class="form-group mb-3">
                <label asp-for="Input.Email">Имейл</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <!-- Парола -->
            <div class="form-group mb-3">
                <label asp-for="Input.Password">Парола</label>

                <div class="input-group">
                    <input asp-for="Input.Password" class="form-control" id="passwordInput" />

                    <span class="input-group-text" id="togglePassword" style="cursor:pointer;">
                        <i class="bi bi-eye"></i>
                    </span>
                </div>

                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <!-- Запомни ме -->
            <div class="form-check mb-3">
                <input asp-for="Input.RememberMe" class="form-check-input" id="rememberMeCheck" />
                <label class="form-check-label" asp-for="Input.RememberMe">Запомни ме</label>
            </div>

            <!-- Бутон вход -->
            <button type="submit" class="btn btn-primary w-100">Вход</button>
        </form>

        <div class="text-center mt-3">
            <p>Нямате акаунт? <a asp-page="./Register">Регистрация</a></p>
        </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        const passwordInput = document.getElementById("passwordInput");
        const togglePassword = document.getElementById("togglePassword");
        const icon = togglePassword.querySelector("i");

        togglePassword.addEventListener("click", function () {
            const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
            passwordInput.setAttribute("type", type);
            icon.style.opacity = type === "text" ? 0.5 : 1;
        });
    </script>
}
